<%= form_with(model: @guest, local: true) do |form| %>

    <div class="mb-3">
    <%= form.label :Name %>
    <%= form.text_field :Name, class:"form-control" , placeholder:"Nombre del invitado" %>
    </div>
    <div class="mb-3">
    <%= form.label :Email %>
    <%= form.email_field :Email, class:"form-control" , placeholder:"Email del invitado" %>
    </div>
    <div class="mb-3">
    <%= form.label :Run %>
    <%= form.number_field :Run, class:"form-control" , placeholder:"Run del invitado" %>
    </div>
    <div class="mb-3">
    <%= form.label :Dv %>
    <%= form.number_field :Dv, class:"form-control" , placeholder:"Ultimo digito del Run" %>
    </div>
    <div class="mb-3">
    <%= form.label :Password %>
    <%= form.password_field :Password, class:"form-control" , placeholder:"Contraseña" %>
    </div>
        
    <div class="mb-3">
    <%= form.submit %>
    </div>

<%end%>