<div
    class="bg-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Frontis_UNAP_Iquique.JPG/1280px-Frontis_UNAP_Iquique.JPG');height: 70vh;">
    <h1 style="text-align:center">Estudiante en la base de datos<span class="badge bg-secondary"></span></h1>
    <div class="card mx-auto" style="padding:15px;max-width:300px;margin-top:len">
    <h3 class="text-uppercase">
        <%=student.Name%>
        <%=student.Father_Name%>
        <%=student.Mother_Name%>     
    </h3>
    <img src="https://www.fundaciocaixaltea.com/wp-content/uploads/2018/01/default-profile.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Imagen del Estudiante</p>
    </div>
    <p class="text-secondary"><%=student.Email%></p>
    <%= link_to "Ver Mas", student %>
    </div>
    <div class="card" style="width: 18rem;">  </div>

</div>