<h1>Estudiantes en la base de datos</h1>

<% @students.each do |student| %>

    <div>
        <%=student.Name%>
        <%=student.Mother_Name%>
        <%=student.Father_Name%>
        <%=student.Email%>
        <%=student.Run%>
        <%=student.Dv%>
        <%=student.Telefono%>
        <%=student.Birthday%>
        <%=student.Year_Ingre%>
    </div>

<%end%>