<h1><%= @student.Name%></h1>
<div>
<%= @student.Mother_Name%>
</div>
<div>
<%= @student.Father_Name%>
</div>
<div>
<%= @student.Email%>
</div>
<div>
<%= @student.Run%>
</div>
<div>
<%= @student.Dv%>
</div>
<div>
<%= @student.Telefono%>
</div>
<div>
<%= @student.Birthday%>
</div>
<div>
<%= @student.Year_Ingre%>
</div>
<div>
<%= @student.Password%>
</div>

<div>
    <%=link_to "Eliminar el Estudiante", @student, method: :delete%>
</div>