<div
    class="bg-image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Frontis_UNAP_Iquique.JPG/1280px-Frontis_UNAP_Iquique.JPG');height: 100vh;">
    <div class="card mx-auto" style="padding:15px;max-width:300px;margin-top:len">
    <h3>Nombre del estudiante:</h3>
    <h3 class="text-uppercase">
        <%=@student.Name%>
        <%=@student.Father_Name%>
        <%=@student.Mother_Name%>     
    </h3>
    <img src="https://www.fundaciocaixaltea.com/wp-content/uploads/2018/01/default-profile.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Imagen del Estudiante</p>
    </div>
    <p class="text-secondary">Rut del estudiante: <%=@student.Run%>-<%=@student.Dv%></p>
    <p class="text-secondary">Telefono del estudiante: <%=@student.Telefono%></p>
    <p class="text-secondary">Año de ingreso del estudiante: <%=@student.Year_Ingre%></p>
    </div>
    <div class="card" style="width: 18rem;"> 
    </div>
</div>
