<%= form_with(model: @futurestudent, local: true) do |form| %>

    <div class="mb-3">
    <%= form.label :Name %>
    <%= form.text_field :Name, class:"form-control" , placeholder:"Nombre del futuro estudiante"  %>
    </div>
    <div class="mb-3">
    <%= form.label :Mother_Name %>
    <%= form.text_field :Mother_Name, class:"form-control" , placeholder:"Apellido materno"  %>
    </div>
    <div class="mb-3">
    <%= form.label :Father_Name %>
    <%= form.text_field :Father_Name, class:"form-control" , placeholder:"Apellido paterno"  %>
    </div>
    <div class="mb-3">
    <%= form.label :Email %>
    <%= form.email_field :Email, class:"form-control" , placeholder:"Email del futuro estudiante"  %>
    </div>
    <div class="mb-3">
    <%= form.label :Run %>
    <%= form.number_field :Run, class:"form-control" , placeholder:"Run del futuro estudiante" %>
    </div>
    <div class="mb-3">
    <%= form.label :Dv %>
    <%= form.number_field :Dv, class:"form-control" , placeholder:"Ultimo digito del Run"  %>
    </div>
    <div class="mb-3">
    <%= form.label :Birthday %>
    <%= form.date_field :Birthday, class:"form-control" , placeholder:"Fecha de naciemiento"  %>
    </div>
    <div class="mb-3">
    <%= form.label :Password %>
    <%= form.password_field :Password, class:"form-control" , placeholder:"Contraseña"  %>
    </div>
        
    <div class="mb-3">
    <%= form.submit %>
    </div>

<%end%>