<h1><%= @futurestudent.Name%></h1>
<div>
<%= @futurestudent.Mother_Name%>
</div>
<div>
<%= @futurestudent.Father_Name%>
</div>
<div>
<%= @futurestudent.Email%>
</div>
<div>
<%= @futurestudent.Run%>
</div>
<div>
<%= @futurestudent.Dv%>
</div>
<div>
<%= @futurestudent.Birthday%>
</div>
<div>
<%= @futurestudent.Password%>
</div>

<div>
    <%=link_to "Eliminar el Futuro Estudiante", @futurestudent, method: :delete%>
</div>