<div class="card" style="padding:15px;max-width:300px;margin-top:len">
    <h3 class="text-uppercase">
        <%=teacher.Name%>
        <%=teacher.Father_Name%>
        <%=teacher.Mother_Name%>     
    </h3>
    <img src="https://www.fundaciocaixaltea.com/wp-content/uploads/2018/01/default-profile.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Imagen del Profesor</p>
    </div>
    <p class="text-secondary"><%=teacher.Email%></p>
    <%= link_to "Ver Mas", teacher %>
</div>
<div class="card" style="width: 18rem;">
  
</div>