<h1><%= @teacher.Name%></h1>
<div>
<%= @teacher.Mother_Name%>
</div>
<div>
<%= @teacher.Father_Name%>
</div>
<div>
<%= @teacher.Email%>
</div>
<div>
<%= @teacher.Run%>
</div>
<div>
<%= @teacher.Dv%>
</div>
<div>
<%= @teacher.Telefono%>
</div>
<div>
<%= @teacher.Birthday%>
</div>
<div>
<%= @teacher.Year_Ingreso%>
</div>
<div>
<%= @teacher.Year_Egreso%>
</div>
<div>
<%= @teacher.Year_Teacher%>
</div>
<div>
<%= @teacher.Password%>
</div>

<div>
    <%=link_to "Eliminar el Profesor", @teacher, method: :delete%>
</div>